<DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remindr - Connexion</title>
  <link rel="stylesheet" type="text/css" href="/Static/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
        <div class="logo">
          <h1>Remindr</h1>
        </div>
      </header>

  <main>
    
    <form action="/connexion" method="post">
    <h2>Bienvenue sur Remindr</h2>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="mdp" placeholder="Mot de passe" required>

      <input type="submit" value="Se connecter">
    <p>Pas encore de compte ? <a href="inscription">Inscrivez-vous</a></p>
    </form>
    <p>{{ connexion }}</p>
  </main>
</body>
</html>