<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remindr - Index</title>
  <link rel="stylesheet" type="text/css" href="/Static/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap"
      rel="stylesheet"
    />
</head>
<body>
  <header>
    <div class="logo">
      <h1>Remindr</h1>
    </div>

  </header>

  <main>
    <nav>
      <li><a href="/inscription">Inscription</a></li>
      <li><a href="/connexion">Connexion</a></li>
      </nav>
  </main>
  

  <footer>
    <p>&copy; 2023 Remindr. Tous droits réservés.</p>
  </footer>
</body>
</html>
